body,
html {
    height: 100%;
    margin: 0;
}

html {
    background-color: antiquewhite;
    background-image: url(./tandyhourWhite2.jpg);
    /* -webkit-animation: scrolling-background 7s linear infinite;
    -moz-animation: scrolling-background 7s linear infinite;
    -o-animation: scrolling-background 7s linear infinite;
    animation: scrolling-background 7s linear infinite; */
}

@keyframes scrolling-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 332px;
    }
}

.cd-player img {
    max-width: 500px;
    width: 100%;
}

@font-face {
    font-family: para;
    src: url(./paraaminobenzoic.otf);
}

@font-face {
    font-family: crystal;
    src: url(./crystal\ radio\ kit.otf);
}

h1 {
    text-align: center;
    /* font-family: 'para'; */
    /* font-size: 3em; */
    /* background-color: rgb(49, 49, 255); */
}

main {
    margin: 0 auto;
    width: fit-content;
    background-color: rgba(245, 245, 245, 0.737);
    padding: 20px
}

.archive {
    filter: invert(1);
}

button {
    cursor: pointer;
    margin-right: 10px;
}

audio {
    display: none;
}

form {
    text-align: center;
}

.cd-player {
    position: relative;
}

#previewImage {
    position: absolute;
    width: 52%;
    top: 30%;
    left: 16.75%;
}

#previewImage.playing {
    animation: spin-cd .01s linear infinite;
}

@media (prefers-reduced-motion) {
    #previewImage.playing {
        animation: none;
    }
}

#albumCover {
    position: absolute;
    opacity: 0;
}

#albumCover.playing {
    animation: fade 10s linear infinite alternate forwards;
    animation-delay: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95;
        }
}

@keyframes spin-cd {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 20px 0px;
    }
    
}