body,
html {
    height: 100%;
    margin: 0;
}


.CD-case, .CD-case-black {
    position: relative;
}

.CD-case-black .jewel-case {
    width: 430px;
}

.CD-case .cd{
    position: absolute;
    top: 50px;
    left: 63px;
    transform: scale(.97);
    filter: blur(.5px);
}
.CD-case-black .cd{
    position: absolute;
    top: 15px;
    left: 30px;
    transform: scale(.99);
}

.cd-player img {
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    /* background-color: rgb(49, 49, 255); */
}

.cd {
    width: 350px;
    transition: transform .1s ease;
    margin: 25px;
    border-radius: 100%;
    /* background-color: red; */
}

.cd:hover {
    transform: scale(1.075);
    /* filter: drop-shadow(3px 3px 6px black); */
    transition: transform .3s ease;
    cursor: pointer;
}


.CD-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 60px;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 20px;
}