body,
html {
    height: 100%;
    margin: 0;
}

html {
    background-color: antiquewhite;
    background-image: url(../tandyhourWhite2.jpg);
    /* -webkit-animation: scrolling-background 7s linear infinite;
    -moz-animation: scrolling-background 7s linear infinite;
    -o-animation: scrolling-background 7s linear infinite;
    animation: scrolling-background 7s linear infinite; */
}

@keyframes scrolling-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 332px;
    }
}

.cd-player img {
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    /* background-color: rgb(49, 49, 255); */
}

main {
    margin: 0 auto;
    width: fit-content;
    background-color: rgba(245, 245, 245, 0.737);
    padding: 20px
}

audio {
    display: none;
}

form {
    text-align: center;
}

.cd-player {
    position: relative;
}

#previewImage {
    position: absolute;
    width: 52%;
    top: 30%;
    left: 16.75%;
}

#previewImage.playing {
    animation: spin-cd .01s linear infinite;
}

@media (prefers-reduced-motion) {
    #previewImage.playing {
        animation: none;
    }
}

#albumCover {
    position: absolute;
    opacity: 0;
}

#albumCover.playing {
    animation: fade 10s linear infinite alternate forwards;
    animation-delay: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95;
        }
}

@keyframes spin-cd {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 20px 0px;
    }
    
}

.cd-burner {
    background-color: silver;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

#cd-cover {
    background-color: silver;
    width: 500px;
    height: 500px;
    z-index: 2;
}

.cd-burner img {
    max-width: 500px;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    animation: eject 2s ease forwards;
    transition: all 0.5s ease;
}

.cd-burner:hover img {
    transition: all 0.5s ease;
    transform: translateY(60%) rotate(720deg);
}

@keyframes eject {
    from {
        transform: translateY(0) rotate(0deg);
    }

    to {
        transform: translateY(50%) rotate(720deg);
    }
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 500px; */
    background-color: snow ;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    border: 5px double black;
    margin-bottom: 20px;
}

label {
    font-size: large;
}

#submitButton {
    background-color: rgb(236, 226, 161);

    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#submitButton:hover {
    transition: all 0.5s ease;
    letter-spacing: 2px;
}

.cd {
    width: 350px;
    transition: transform .1s ease;
    margin: 25px;
    border-radius: 100%;
    /* background-color: red; */
}

.cd:hover {
    transform: scale(1.075);
    transition: transform .3s ease;
    cursor: pointer;
}
